body {
  background-color: #f3f1ff;
}
header {
  background-color: #562eff;
  margin-bottom: 50px;
}
.navbar {
  padding: 15px;
}
.navbar-brand {
  font-style: normal;
  font-weight: 450;
  font-size: 24px;
  line-height: 36px;
}
.navbar-brand img {
  width: 40.41px;
  margin-right: 15px;
}
.navbar-nav {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
}
.nav-link {
  margin-left: 20px;
}
.main {
  background-color: white;
  padding: 40px;
}
.main h3 {
  margin-bottom: 40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #562eff;
}
.leader-name img {
  width: 56px;
  height: 56px;
  margin-right: 15px;
}
.leader-name h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.leader {
  margin-bottom: 50px;
}
