body {
  background-color: #f3f1ff;
}
header {
  background-color: #562eff;
  margin-bottom: 50px;
}
.navbar {
  padding: 15px;
}
.navbar-brand {
  font-style: normal;
  font-weight: 450;
  font-size: 24px;
  line-height: 36px;
}
.navbar-brand img {
  width: 40.41px;
  margin-right: 15px;
}
.navbar-nav {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
}
.nav-link {
  margin-left: 20px;
}
.main {
  background-color: white;
  padding: 40px;
  width: 1070px;
  border-radius: 20px;
  margin-bottom: 50px;
}
.main h3 {
  margin-bottom: 40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #562eff;
}
.leader-name {
  margin-bottom: 25px;
}
.leader-name img {
  width: 56px;
  height: 56px;
  margin-right: 15px;
  border-radius: 50%;
}
.leader-name h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.leader img:hover {
  box-shadow: 5px 5px 15px #787391;
  transition: 0.3s;
}

.leader {
  margin-bottom: 50px;
}
hr {
  color: #562eff;
}
.blog-name img {
  width: 200px;
  border-radius: 15px;
}
.blog-name {
  margin-bottom: 24px;
}
.b-detail {
  margin-left: 15px;
}
.b-detail h6 {
  color: #562eff;
}
.blog-name img:hover {
  box-shadow: 5px 5px 15px #787391;
  transition: 0.3s;
}
.card {
  border-radius: 20px;
  border: none;
  box-shadow: 5px 5px 10px #dbdae2;
}
.card img {
  padding: 10px;
}
